<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(TargetDir)Accelerider.Windows.Modules.NetDisk.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".json" #>

{
	"moduleName": "apps-net-disk-win",
	"moduleType": "<#= typeof(Accelerider.Windows.Modules.NetDisk.NetDiskModule).AssemblyQualifiedName #>",
	"dependsOn": []
}