<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net462" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net462" />
  <package id="MaterialDesignThemes" version="2.4.1.1101" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net462" />
  <package id="Prism.Unity" version="7.1.0.431" targetFramework="net462" />
  <package id="Prism.Wpf" version="7.1.0.431" targetFramework="net462" />
  <package id="System.Reactive" version="4.1.2" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net462" />
  <package id="Unity.Container" version="5.8.11" targetFramework="net462" />
</packages>