<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Accelerider.Windows.Installer" Language="1033" Version="1.0.0.0" Manufacturer="Accelerider Team" UpgradeCode="ae871cff-b017-4f8f-b7e9-8dd64a7e53db">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Accelerider.Windows.Installer" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Accelerider.Windows.Installer" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="ProductComponent">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.Accelerider.Windows.TargetPath)"/>
        <File Source="$(var.Accelerider.Windows.Controls.TargetPath)"/>
        <File Source="$(var.Accelerider.Windows.Infrastructure.TargetPath)"/>
        <File Source="$(var.Accelerider.Windows.Resources.TargetPath)"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
