<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Accelerider.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Accelerider.Windows.Properties.Settings>
      <setting name="WindowHandle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsRestarting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>1100</value>
      </setting>
    </Accelerider.Windows.Properties.Settings>
  </userSettings>
</configuration>